.table{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.canvas{
    margin-top: 1rem;
}

.form{
    margin-top: 1rem;
}

.form-control {
    width: 80%;
    display: inline-block;
}

.containerwrap {
display: flex;
flex-wrap: wrap;
}